body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}



.arrows {
    height: 5px;
    width: 50px;
    margin: 5px;
    border-radius: 2px;
    background-color: #fff;
}

.nav_button:hover .arrows {
    background-color: #f40082;
    animation-name: arrow;
}
.nav_button .arrows:hover {
   
}