body {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.arrows {
    height: 5px;
    width: 50px;
    margin: 5px;
    border-radius: 2px;
    background-color: #fff;
    
}

.nav_button:hover .arrows {
    background-color: #f40082;
    animation-name: arrow;
    animation-duration: 1s;
    animation-delay: 2s;

}
@keyframes arrow {
    from {background-color: red;}
    to {background-color: yellow;}
  }


.arrow-one {

}

.arrow-two {
    
}

.arrow-three {
    
}